@page  "/admin/user/addUser"

@inject UserManager<IdentityUser> userManager;
@inject NavigationManager NavManager
<h3>UserAdd</h3>

<EditForm Model="signUpModel" OnValidSubmit="HandledSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (errorMessages.Count > 0)
    {
        <div class="validation" style="display:inline">
            @foreach (var item in errorMessages)
            {
                <p class="text-danger">@item</p>
            }
        </div>
    }

    <style>
        .validation {
            display: none;
        }
    </style>
    <div class="form-group">
        <label class="form-control-label">Username : </label><br />
        <InputText class="form-control" @bind-Value="signUpModel.UserName"></InputText><br />
        <label class="form-control-label">Password : </label><br />

        <InputText class="form-control" @bind-Value="signUpModel.Password"></InputText><br />

        <label class="form-control-label">ConfrimPassword : </label><br />

        <InputText class="form-control" @bind-Value="signUpModel.ConfrimPassword"></InputText><br />

        <label class="form-control-label">Email : </label><br />

        <InputText class="form-control" @bind-Value="signUpModel.Email"></InputText><br />

        <label class="form-control-label">TelphoneNumber : </label><br />

        <InputText class="form-control" @bind-Value="signUpModel.TelphoneNumber"></InputText><br />

        <label class="form-control-label">Role : </label><br />
    </div>

    <InputSelect class="form-control" name="Please Enter" @bind-Value="role">
        <optgroup label="Please Enter">
            <option value="Admin">Admin</option>
            <option value="Client">Client</option>
        </optgroup>
    </InputSelect>
    <br />
    <button class="btn btn-primary" type="submit">Add User</button>
</EditForm>

@code {
    string role;
    SignUpModel signUpModel = new SignUpModel();
    List<string> errorMessages = new List<string>();
    private async Task HandledSubmit()
    {
        errorMessages.Clear();
        IdentityUser user = new IdentityUser();
        user.UserName = signUpModel.UserName;
        user.Email = signUpModel.Email;
        user.SecurityStamp = "TolgaEmirFatih";
        user.PhoneNumber = signUpModel.TelphoneNumber;

        var addedUser = await userManager.CreateAsync(user, signUpModel.Password);

        if (addedUser.Errors.Count() > 0)
        {
            foreach (var item in (await userManager.CreateAsync(user, signUpModel.Password)).Errors)
            {
                errorMessages.Add(item.Description);
            }
        };
        if (addedUser.Succeeded)
        {
            await userManager.AddToRoleAsync(user, role);
            NavManager.NavigateTo("/admin/user");
        }

    }
}
